* {
    margin: 0;
    /*o * diz que está pegando todos os elementos e colocando estes paramametros*/
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EEEEEE;
    font-family: "Montserrat Alternates", sans-serif;
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
    text-align: center;
}