<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="conteiner">
            <p>O melhor layout do mundo</p>
        </div>
    </header>

    <main>
        <div class="conteiner">

            <aside>
                menu lateral
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta sint iusto quibusdam laboriosam
                    veritatis itaque quis rerum ipsa non provident ex perspiciatis quisquam, veniam nobis consequatur,
                    tenetur iure facilis sapiente!</p>
            </aside>

            <section>
                <h1>Estruturando um layout com HTML e CSS</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, iste dignissimos tempora officia
                    autem distinctio cupiditate exercitationem officiis hic, quas obcaecati quisquam quae asperiores
                    soluta ipsam sed magnam praesentium natus.</p>
                <h2>Meus Projetos</h2>
                <div class="projects">
                    <div class="project">
                        <img src="https://i.pinimg.com/originals/1f/9e/89/1f9e893c7e35b3650d7fc61539202ef1.jpg" alt="Ipê Amarelo">
                        Projeto 1
                    </div>
                    <div class="project">
                        Projeto 2
                    </div>
                    <div class="project">
                        Projeto 3
                    </div>
                </div>
            </section>

        </div>
    </main>

    <footer>
        <div class="conteiner">
            <p>♥♥♥♥♥</p>
        </div>

    </footer>
</body>

</html>